@{
    ViewData["Title"] = "About";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="text-center">Acerca de</h1>
            <p>
                Este proyecto fue desarrollado para la materia Programación de Nuevas Tecnologías 1 del centro educativo ORT Argentina.
                El objetivo del proyecto es implementar un sistema de registro de usuarios que llevan un registro de su consumo de vinos.
                El proyecto está desarrollado utilizando C# con el patrón de diseño MVC y el framework de Entity Framework.
            </p>
            <p>
                Si tienes alguna pregunta o quieres obtener más información, no dudes en contactarme.
            </p>
            <p>
                Nombre: Agustin
            </p>
            <p>
                Email: <a href="mailto:donalisioagustin@gmail.com" target="_blank">donalisioagustin@gmail.com</a>
            </p>
            <p>
                GitHub: <a href="https://github.com/dazxon/" target="_blank">https://github.com/dazxon/</a>
            </p>
            <p>
                GitHub del proyecto: <a href="https://github.com/dazxon/AgustinDonalisioProyectoPNT1" target="_blank">https://github.com/dazxon/AgustinDonalisioProyectoPNT1</a>
            </p>
            
        </div>
    </div>
</div>

