@model AgustinDonalisioProyectoPNT1.Models.ViewModel.CreateWineModel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Wine</title>
    <script>


        document.addEventListener("DOMContentLoaded", function () {
            var isWineString = "@Model.IsWine.ToString().ToLower()";
            var isWine = (isWineString === "true");

            let brand = document.getElementById("brand");
            let type = document.getElementById("wineTypeSelect");
            let year = document.getElementById("year");
            let submit = document.getElementById("submit");


            if (isWine) {
                brand.readOnly = true;
                type.disabled = true;
                year.readOnly = true;
            }

            var form = document.getElementById("formAdd");

            form.addEventListener("submit",function(event){
                brand.removeAttribute("readonly");
                type.removeAttribute("disabled");
                year.removeAttribute("readonly");
            })

            let name = document.getElementById("nameCheck");
            let s = document.getElementById("divSubmit");
            

            if(name.value != ""){
                submit.removeAttribute("disabled");
            }

        });

        

        

    </script>
</head>
<body>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6">
            <h4 class="text-center">Cellar</h4>
            <hr />
                <form asp-action="CheckWine" asp-route-cellarId="@Model.IdCellar">
                    <div class="form-group">
                        <label asp-for="Name">Name:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center" style="padding: 10px 0px 0px 0px">
                        <input type="submit" value="Check Wine" class="btn btn-outline-success"/>
                    </div>
                </form>
                <form asp-action="AddWineTwo" style="" id="formAdd">
                    <div class="form-group" style="display:none;">
                        <label asp-for="Name">Name:</label>
                        <input asp-for="Name" class="form-control" id="nameCheck" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label asp-for="IdCellar">idCellar:</label>
                        <input asp-for="IdCellar" class="form-control" id="idCheck" />
                        <span asp-validation-for="IdCellar" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding: 10px 0px">
                        <label asp-for="Brand">Brand:</label>
                        <input asp-for="Brand" class="form-control" id="brand"/>
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding: 10px 0px">
                        <label asp-for="Type">Type:</label>
                        <select asp-for="Type" class="form-control" id="wineTypeSelect">
                            <option value="" disabled selected>Select Wine Type</option>
                            <option value="MALBEC">MALBEC</option>
                            <option value="MERLOT">MERLOT</option>
                            <option value="CABERNET SAUVIGNON">CABERNET SAUVIGNON</option>
                            <option value="SYRAH">SYRAH</option>
                            <option value="PINOT NOIR">PINOT NOIR</option>
                            <option value="CHARDONNAY">CHARDONNAY</option>
                            <option value="SAUVIGNON BLANC">SAUVIGNON BLANC</option>
                            <option value="RIESLING">RIESLING</option>
                            <option value="GEWÜRZTRAMINER">GEWÜRZTRAMINER</option>
                            <option value="ZINFANDEL">ZINFANDEL</option>
                            <option value="CABERNET FRANC">CABERNET FRANC</option>
                            <option value="TEMPRANILLO">TEMPRANILLO</option>
                            <option value="GRENACHE">GRENACHE</option>
                            <option value="MOSCATO">MOSCATO</option>
                            <option value="PROSECCO">PROSECCO</option>
                            <option value="SPARKLING WINE">SPARKLING WINE</option>
                            <option value="PORT">PORT</option>
                            <option value="SHIRAZ">SHIRAZ</option>
                            <option value="SANGIOVESE">SANGIOVESE</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding: 10px 0px">
                        <label asp-for="Year">Year:</label>
                        <input asp-for="Year" class="form-control" min="1900" max="2023" id="year"/>
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding: 10px 0px">
                        <label asp-for="WineQuantity">Quantity:</label>
                        <input asp-for="WineQuantity" class="form-control" min="1" id="quantity"/>
                        <span asp-validation-for="WineQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center" style="padding: 20px 0px" id="divSubmit">
                        <input type="submit" value="Add Wine" class="btn btn-danger" id="submit" disabled/>
                    </div>
                </form>
            </div>
        </div>

        <div class="text-center">
            <a asp-action="Details" asp-route-id="@Model.IdCellar" class="btn btn-info">Back to List</a>
        </div>
    </div>
</body>
</html>
