@model AgustinDonalisioProyectoPNT1.Models.Wine

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Registro</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit" class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Brand" class="control-label mr-2">Marca:</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label mr-2">Nombre:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Wine Variety</label>
                <select asp-for="Type" class="form-control" id="wineTypeSelect">
                    <option value="">-- Please select a Wine Variety --</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label mr-2">Precio:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumptionDate" class="control-label mr-2">Fecha de Consumo:</label>
                <input asp-for="ConsumptionDate" class="form-control" />
                <span asp-validation-for="ConsumptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label mr-2">Notas:</label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Volver al Listado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            var wineTypes = [
                "Cabernet Sauvignon",
                "Merlot",
                "Pinot Noir",
                "Malbec",
                "Zinfandel",
                "Riesling",
                "Chardonnay",
                "Sauvignon Blanc",
                "Pinot Grigio",
                "Muscat",
                "Gewurztraminer",
                "Viognier",
                "Chenin Blanc",
                "Semillon",
                "Alberino",
                "Roterveltliner",
                "Pinot Blanc",
                "Torrontes",
                "Marsanne",
                "Muller-Thurgau",
                "Trebbiano",
                "Silvaner",
                "Muscadet",
                "Roussane",
                "Malvasia",
                "Garganega",
                "Verdiconio",
                "Airen",
                "Verdelho",
                "Rose",
                "Ice",
                "Port"
            ];

            var select = $("#wineTypeSelect");

            // Ordenar el array de opciones alfabéticamente
            wineTypes.sort();

            // Generar las opciones del campo de selección
            wineTypes.forEach(function (type) {
                select.append($("<option></option>").text(type));
            });
        });
    </script>
}

